<a href="https://colab.research.google.com/github/datalover2023/Module_2/blob/main/Files_Manipulation_Module_2_good.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.&nbsp;Set Up

In [1]:
# Import Libraries
import os
import glob
import shutil
import sys
from pathlib import Path
import pandas as pd

In [2]:
# Accessing Google Drive from Google Colab

from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

# 2.&nbsp;Paths : CWD, Absolute vs Relative paths

## CWD: current working directory

In [3]:
# get absolute path to current working directory

print('The current working directory is : ')
os.getcwd()

The current working directory is :

'/content'

In [4]:
# save current working directory as cwd
cwd = os.getcwd()
cwd

'/content'

In [5]:
# List all files and directories in current directory

os.listdir('.') #  ==> we have 3 directories : config, gdrive, sample_data

['.config', 'gdrive', 'sample_data']

In [6]:
# check conaining in sample_data directory

print(os.listdir('sample_data'))

['README.md', 'anscombe.json', 'california_housing_train.csv', 'mnist_train_small.csv', 'mnist_test.csv', 'california_housing_test.csv']

## Paths: Absolute & Relative

**Absolute file paths** are notated by a leading forward slash or drive label. For example, /home/example_user/example_directory or C:/system32/cmd.exe. An absolute file path describes how to access a given file or directory, starting from the root of the file system. A file path is also called a pathname.

In [7]:
# check conaining in gdrive directory with aboslute path

print(os.listdir('/content/gdrive')) 
print(os.listdir('/content/gdrive/MyDrive'))
print(os.listdir('/content/gdrive/MyDrive/Colab Notebooks'))

['MyDrive', '.file-revisions-by-id', '.shortcut-targets-by-id', '.Trash-0']
['Colab Notebooks']
['Python_Basics_Module_1 (10).ipynb', 'Practice_Module_1.ipynb', 'Python_Basics_Module_1_Cohort_1.ipynb', 'Basics_Module_1_Cohort_1 (1).ipynb', 'Basics_Module_1_Cohort_1.ipynb', 'Python_Basics_Module_1 (9).ipynb', 'Python_Basics_Module_1 (8).ipynb', 'Python_Basics_Module_1 (7).ipynb', 'Python_Basics_Module_1 (6).ipynb', 'Python_Basics_Module_1 (5).ipynb', 'Python_Basics_Module_1 (4).ipynb', 'Python_Basics_Module_1 (3).ipynb', 'Python_Basics_Module_1 (2).ipynb', 'Python_Basics_Module_1 (1).ipynb', 'Python_Basics_Module_1_back_up.ipynb', 'Python_Basics_Module_1.ipynb', 'Files_Manipulation (1).ipynb', ' Files_Manipulation_Module_2_Practice.ipynb', 'Files_Manipulation.ipynb', 'Files_Manipulation_v2.ipynb', 'Manipulation_Module_2.ipynb', 'Fille_Manipulation_Module_2_Practice.ipynb', 'Copy of Python_Basics_Module_1.ipynb', 'Files_Manipulation_Module_2_good (1).ipynb', 'Files_Manipulation_Module_2.ipynb', 'Files_Manipulation_Module_2_good.ipynb']

**Relative file paths** are notated by a lack of a leading forward slash. For example, example_directory. A relative file path is interpreted from the perspective your current working directory. If you use a relative file path from the wrong directory, then the path will refer to a different file than you intend, or it will refer to no file at all.

In [8]:
# check conaining in gdrive directory with relative path

print(os.listdir('gdrive')) 
print(os.listdir('gdrive/MyDrive'))
print(os.listdir('gdrive/MyDrive/Colab Notebooks'))

['MyDrive', '.file-revisions-by-id', '.shortcut-targets-by-id', '.Trash-0']
['Colab Notebooks']
['Python_Basics_Module_1 (10).ipynb', 'Practice_Module_1.ipynb', 'Python_Basics_Module_1_Cohort_1.ipynb', 'Basics_Module_1_Cohort_1 (1).ipynb', 'Basics_Module_1_Cohort_1.ipynb', 'Python_Basics_Module_1 (9).ipynb', 'Python_Basics_Module_1 (8).ipynb', 'Python_Basics_Module_1 (7).ipynb', 'Python_Basics_Module_1 (6).ipynb', 'Python_Basics_Module_1 (5).ipynb', 'Python_Basics_Module_1 (4).ipynb', 'Python_Basics_Module_1 (3).ipynb', 'Python_Basics_Module_1 (2).ipynb', 'Python_Basics_Module_1 (1).ipynb', 'Python_Basics_Module_1_back_up.ipynb', 'Python_Basics_Module_1.ipynb', 'Files_Manipulation (1).ipynb', ' Files_Manipulation_Module_2_Practice.ipynb', 'Files_Manipulation.ipynb', 'Files_Manipulation_v2.ipynb', 'Manipulation_Module_2.ipynb', 'Fille_Manipulation_Module_2_Practice.ipynb', 'Copy of Python_Basics_Module_1.ipynb', 'Files_Manipulation_Module_2_good (1).ipynb', 'Files_Manipulation_Module_2.ipynb', 'Files_Manipulation_Module_2_good.ipynb']

In [9]:
# delete a notebook from Colab Notebook ==> Name_Notebook.ipynb after '/content/gdrive/MyDrive/Colab Notebooks/ + Name_Notebook.ipynb'

# os.unlink('/content/gdrive/MyDrive/Colab Notebooks/Copy of Fille_Manipulation_Module_2_Practice.ipynb') # relative path as UK_old in the working directory

## Import files

In [11]:
# import files into google Colab
from google.colab import files

In [12]:
# upload from your local : excel files "DE.xlsx", 'UK.xlsx", 'FR.xlsx' and 'UK_old.xlsx'
uploaded = files.upload()

Saving DE.xlsx to DE.xlsx
Saving FR.xlsx to FR.xlsx
Saving UK.xlsx to UK.xlsx
Saving UK_old.xlsx to UK_old.xlsx

In [13]:
# List all files and directories in current directory
os.listdir('.')

['.config',
 'UK_old.xlsx',
 'UK.xlsx',
 'DE.xlsx',
 'FR.xlsx',
 'gdrive',
 'sample_data']

# 3.&nbsp;Folder hierarchy tree

In [14]:
# create a function << folder tree >> to display the the hierarchy of your cwd

def folder_tree(folder):
    for dirpath, dirs, files in os.walk(cwd):	 
        if 'checkpoints' not in dirpath:
                path = dirpath.split('/')     
                print ('|', (len(path))*'--', '>',os.path.basename(dirpath),':')
                for f in files:
                    print ('|', len(path)*'------', f)
                    

# call function folder_tree on your cwd

folder_tree(cwd)

| ---- > content :
| ------------ UK_old.xlsx
| ------------ UK.xlsx
| ------------ DE.xlsx
| ------------ FR.xlsx
| ------ > .config :
| ------------------ .last_update_check.json
| ------------------ .last_survey_prompt.yaml
| ------------------ active_config
| ------------------ config_sentinel
| ------------------ .last_opt_in_prompt.yaml
| ------------------ gce
| -------- > logs :
| ---------- > 2023.01.27 :
| ------------------------------ 14.36.38.212919.log
| ------------------------------ 14.36.06.715600.log
| ------------------------------ 14.35.18.630538.log
| ------------------------------ 14.36.14.287380.log
| ------------------------------ 14.36.38.920934.log
| ------------------------------ 14.35.44.062869.log
| -------- > configurations :
| ------------------------ config_default
| ------ > gdrive :
| -------- > MyDrive :
| ---------- > Colab Notebooks :
| ------------------------------ Python_Basics_Module_1 (10).ipynb
| ------------------------------ Practice_Module_1.ipynb
| ------------------------------ Python_Basics_Module_1_Cohort_1.ipynb
| ------------------------------ Basics_Module_1_Cohort_1 (1).ipynb
| ------------------------------ Basics_Module_1_Cohort_1.ipynb
| ------------------------------ Python_Basics_Module_1 (9).ipynb
| ------------------------------ Python_Basics_Module_1 (8).ipynb
| ------------------------------ Python_Basics_Module_1 (7).ipynb
| ------------------------------ Python_Basics_Module_1 (6).ipynb
| ------------------------------ Python_Basics_Module_1 (5).ipynb
| ------------------------------ Python_Basics_Module_1 (4).ipynb
| ------------------------------ Python_Basics_Module_1 (3).ipynb
| ------------------------------ Python_Basics_Module_1 (2).ipynb
| ------------------------------ Python_Basics_Module_1 (1).ipynb
| ------------------------------ Python_Basics_Module_1_back_up.ipynb
| ------------------------------ Python_Basics_Module_1.ipynb
| ------------------------------ Files_Manipulation (1).ipynb
| ------------------------------  Files_Manipulation_Module_2_Practice.ipynb
| ------------------------------ Files_Manipulation.ipynb
| ------------------------------ Files_Manipulation_v2.ipynb
| ------------------------------ Manipulation_Module_2.ipynb
| ------------------------------ Fille_Manipulation_Module_2_Practice.ipynb
| ------------------------------ Copy of Python_Basics_Module_1.ipynb
| ------------------------------ Files_Manipulation_Module_2_good (1).ipynb
| ------------------------------ Files_Manipulation_Module_2.ipynb
| ------------------------------ Files_Manipulation_Module_2_good.ipynb
| -------- > .file-revisions-by-id :
| -------- > .shortcut-targets-by-id :
| -------- > .Trash-0 :
| ---------- > files :
| ---------- > info :
| ------ > sample_data :
| ------------------ README.md
| ------------------ anscombe.json
| ------------------ california_housing_train.csv
| ------------------ mnist_train_small.csv
| ------------------ mnist_test.csv
| ------------------ california_housing_test.csv

In [17]:
# another way to explore your folder/files 
# create function << folder_tree_2 >>


def folder_tree_2(folder):
    for dirPath, dirNames, fileNames in os.walk(cwd, topdown=True):
        if 'checkpoints' not in dirPath:
            print("Directory Path: ", dirPath) 
            print(len(dirNames), "Directories = ", dirNames )
            print(len(fileNames), "Files = ", fileNames )
            print('-'*10)

            

# call function << folder_tree_2 >> on your cwd
# it will return all Directory Paths with contained sub_directories and files
# nb of sub_directories and files

folder_tree_2(cwd)

Directory Path:  /content
3 Directories =  ['.config', 'gdrive', 'sample_data']
4 Files =  ['UK_old.xlsx', 'UK.xlsx', 'DE.xlsx', 'FR.xlsx']
----------
Directory Path:  /content/.config
2 Directories =  ['logs', 'configurations']
6 Files =  ['.last_update_check.json', '.last_survey_prompt.yaml', 'active_config', 'config_sentinel', '.last_opt_in_prompt.yaml', 'gce']
----------
Directory Path:  /content/.config/logs
1 Directories =  ['2023.01.27']
0 Files =  []
----------
Directory Path:  /content/.config/logs/2023.01.27
0 Directories =  []
6 Files =  ['14.36.38.212919.log', '14.36.06.715600.log', '14.35.18.630538.log', '14.36.14.287380.log', '14.36.38.920934.log', '14.35.44.062869.log']
----------
Directory Path:  /content/.config/configurations
0 Directories =  []
1 Files =  ['config_default']
----------
Directory Path:  /content/gdrive
4 Directories =  ['MyDrive', '.file-revisions-by-id', '.shortcut-targets-by-id', '.Trash-0']
0 Files =  []
----------
Directory Path:  /content/gdrive/MyDrive
1 Directories =  ['Colab Notebooks']
0 Files =  []
----------
Directory Path:  /content/gdrive/MyDrive/Colab Notebooks
0 Directories =  []
26 Files =  ['Python_Basics_Module_1 (10).ipynb', 'Practice_Module_1.ipynb', 'Python_Basics_Module_1_Cohort_1.ipynb', 'Basics_Module_1_Cohort_1 (1).ipynb', 'Basics_Module_1_Cohort_1.ipynb', 'Python_Basics_Module_1 (9).ipynb', 'Python_Basics_Module_1 (8).ipynb', 'Python_Basics_Module_1 (7).ipynb', 'Python_Basics_Module_1 (6).ipynb', 'Python_Basics_Module_1 (5).ipynb', 'Python_Basics_Module_1 (4).ipynb', 'Python_Basics_Module_1 (3).ipynb', 'Python_Basics_Module_1 (2).ipynb', 'Python_Basics_Module_1 (1).ipynb', 'Python_Basics_Module_1_back_up.ipynb', 'Python_Basics_Module_1.ipynb', 'Files_Manipulation (1).ipynb', ' Files_Manipulation_Module_2_Practice.ipynb', 'Files_Manipulation.ipynb', 'Files_Manipulation_v2.ipynb', 'Manipulation_Module_2.ipynb', 'Fille_Manipulation_Module_2_Practice.ipynb', 'Copy of Python_Basics_Module_1.ipynb', 'Files_Manipulation_Module_2_good (1).ipynb', 'Files_Manipulation_Module_2.ipynb', 'Files_Manipulation_Module_2_good.ipynb']
----------
Directory Path:  /content/gdrive/.file-revisions-by-id
0 Directories =  []
0 Files =  []
----------
Directory Path:  /content/gdrive/.shortcut-targets-by-id
0 Directories =  []
0 Files =  []
----------
Directory Path:  /content/gdrive/.Trash-0
2 Directories =  ['files', 'info']
0 Files =  []
----------
Directory Path:  /content/gdrive/.Trash-0/files
0 Directories =  []
0 Files =  []
----------
Directory Path:  /content/gdrive/.Trash-0/info
0 Directories =  []
0 Files =  []
----------
Directory Path:  /content/sample_data
0 Directories =  []
6 Files =  ['README.md', 'anscombe.json', 'california_housing_train.csv', 'mnist_train_small.csv', 'mnist_test.csv', 'california_housing_test.csv']
----------

# 4.&nbsp;Looking for Files with extensions

In [20]:
# create a list  "excel_files" with all files that have the extension excel_files in the working directory

excel_files=[]
for file in os.listdir(cwd):
    if file.endswith('.xlsx'): # or '.csv' if your'looinkg for csv files
            excel_files.append(file)
            
# it will print out excel names present in current directory folder = 'Basics_Python"
print( 'there are', len(excel_files), "excel files: ")
excel_files

there are 4 excel files:

['UK_old.xlsx', 'UK.xlsx', 'DE.xlsx', 'FR.xlsx']

In [19]:
# check the absolute path of all excel files

# we'll use "glob" package that works with file paths
# glob package is usefull to return all file paths that match a specific pattern

# create a list where are stored the paths of every excel file

# in the working directory here stored in the variable cwd... 
# find all files that have the extension .xlsx ...
# and then concatenate the working directory path + excel file name ...
# we will obtain the absolute path to each excel file ...
# and then store them all into a list called "filespaths"


filespaths = glob.glob(cwd + "/*.xlsx")  # create a list that from cwd, will pick up every the ABSOLUTE PATH for files with extention .xlsx
print(filespaths)
print("")

# print out excel paths one by one
print('File names with their paths:')
for path in filespaths:
    print(path)

['/content/UK_old.xlsx', '/content/UK.xlsx', '/content/DE.xlsx', '/content/FR.xlsx']

File names with their paths:
/content/UK_old.xlsx
/content/UK.xlsx
/content/DE.xlsx
/content/FR.xlsx

# 4.&nbsp;Change working directory

In [ ]:
# if you want to change the present working directory then,

# os.chdir('/home/e57658/workspace/Excel_Automation_Python/Raw_Excel_Files')
os.chdir('/content/drive/MyDrive')
# check the new current working directory now
cwd = os.getcwd()
cwd

'/content/drive/MyDrive'

In [ ]:
# List all files and directories in current directory
os.listdir('.')

['Colab Notebooks']

# Create New Folder

In [ ]:
# create a new folder called "Raw_Files"

# First: write the path to the "Raw_Files" folder
folder = cwd + '/' + 'Raw_Files'
print(folder)

# Second: create the folder at the indicated path
os.makedirs(folder)

/home/e57658/workspace/Excel_Automation_Python/Raw_Files

In [ ]:
# rename Raw_Files in Raw_Excel_Files

new_name= 'Raw_Excel_Files'

os.rename(folder,new_name)

In [ ]:
# Create a nested folder (folder in the folder)

other = cwd + '/' + 'New_Folder' + '/' +'Inner_folder' 
os.makedirs(other)
other

'/home/e57658/workspace/Excel_Automation_Python/New_Folder/Inner_folder'

Directory Path:  /content
4 Directories =  ['.config', 'drive', 'gdrive', 'sample_data']
8 Files =  ['UK_old.xlsx', 'UK (1).xlsx', 'UK.xlsx', 'DE.xlsx', 'FR.xlsx', 'DE (1).xlsx', 'UK_old (1).xlsx', 'FR (1).xlsx']
----------
Directory Path:  /content/.config
2 Directories =  ['logs', 'configurations']
6 Files =  ['.last_update_check.json', '.last_survey_prompt.yaml', 'active_config', 'config_sentinel', '.last_opt_in_prompt.yaml', 'gce']
----------
Directory Path:  /content/.config/logs
1 Directories =  ['2023.01.27']
0 Files =  []
----------
Directory Path:  /content/.config/logs/2023.01.27
0 Directories =  []
6 Files =  ['14.36.38.212919.log', '14.36.06.715600.log', '14.35.18.630538.log', '14.36.14.287380.log', '14.36.38.920934.log', '14.35.44.062869.log']
----------
Directory Path:  /content/.config/configurations
0 Directories =  []
1 Files =  ['config_default']
----------
Directory Path:  /content/gdrive
4 Directories =  ['.shortcut-targets-by-id', '.file-revisions-by-id', 'MyDrive', '.Trash-0']
0 Files =  []
----------
Directory Path:  /content/gdrive/.shortcut-targets-by-id
0 Directories =  []
0 Files =  []
----------
Directory Path:  /content/gdrive/.file-revisions-by-id
0 Directories =  []
0 Files =  []
----------
Directory Path:  /content/gdrive/MyDrive
1 Directories =  ['Colab Notebooks']
0 Files =  []
----------
Directory Path:  /content/gdrive/MyDrive/Colab Notebooks
0 Directories =  []
41 Files =  ['Untitled1.ipynb', 'Test.ipynb', 'test.ipynb', 'Python_Basics_Practice.ipynb', 'Untitled0.ipynb', 'Copy of Python_Basics_Module_1 (7).ipynb', 'Python_Basics_1_practice.ipynb', 'Untitled', 'Copy of Practice_Module_1.ipynb', 'Python_Basics_Module_1 (10).ipynb', 'Practice_Module_1.ipynb', 'Python_Basics_Module_1_Cohort_1.ipynb', 'Untitled2.ipynb', 'Basics_Module_1_Cohort_1 (1).ipynb', 'Basics_Module_1_Cohort_1.ipynb', 'Python_Basics_Module_1 (9).ipynb', 'Copy of Python_Basics_Module_1 (6).ipynb', 'Python_Basics_Module_1 (8).ipynb', 'Copy of Python_Basics_Module_1 (5).ipynb', 'Python_Basics_Module_1 (7).ipynb', 'Copy of Python_Basics_Module_1 (4).ipynb', 'Copy of Python_Basics_Module_1 (3).ipynb', 'Copy of Python_Basics_Module_1 (2).ipynb', 'Python_Basics_Module_1 (6).ipynb', 'Copy of Python_Basics_Module_1 (1).ipynb', 'Copy of Python_Basics_Module_1.ipynb', 'Python_Basics_Module_1 (5).ipynb', 'Python_Basics_Module_1 (4).ipynb', 'Python_Basics_Module_1 (3).ipynb', 'Python_Basics_Module_1 (2).ipynb', 'Python_Basics_Module_1 (1).ipynb', 'Python_Basics_Module_1_back_up.ipynb', 'Python_Basics_Module_1.ipynb', 'Files_Manipulation (1).ipynb', ' Files_Manipulation_Module_2_Practice.ipynb', 'Files_Manipulation.ipynb', 'Files_Manipulation_v2.ipynb', 'Files_Manipulation_Module_2.ipynb', 'Manipulation_Module_2.ipynb', 'Fille_Manipulation_Module_2_Practice.ipynb', 'Copy of Fille_Manipulation_Module_2_Practice.ipynb']
----------
Directory Path:  /content/gdrive/.Trash-0
2 Directories =  ['files', 'info']
0 Files =  []
----------
Directory Path:  /content/gdrive/.Trash-0/files
0 Directories =  []
0 Files =  []
----------
Directory Path:  /content/gdrive/.Trash-0/info
0 Directories =  []
0 Files =  []
----------
Directory Path:  /content/sample_data
0 Directories =  []
6 Files =  ['README.md', 'anscombe.json', 'california_housing_train.csv', 'mnist_train_small.csv', 'mnist_test.csv', 'california_housing_test.csv']
----------

## Navigate in tree hierarchy

In [ ]:
# list all files in the current directoy

os.listdir('.')

['.config',
 'DE (2).xlsx',
 'UK_old (2).xlsx',
 'FR (2).xlsx',
 'UK_old.xlsx',
 'UK (1).xlsx',
 'UK.xlsx',
 'UK (2).xlsx',
 'drive',
 'DE.xlsx',
 'FR.xlsx',
 'gdrive',
 'DE (1).xlsx',
 'UK_old (1).xlsx',
 'FR (1).xlsx',
 'sample_data']

In [ ]:
# move up in the hierarchy to list the files from the upper level 

os.listdir('..')

['dev',
 'bin',
 'root',
 'proc',
 'lib64',
 'opt',
 'lib32',
 'etc',
 'var',
 'boot',
 'srv',
 'run',
 'tmp',
 'sys',
 'home',
 'mnt',
 'libx32',
 'lib',
 'media',
 'usr',
 'sbin',
 'content',
 '.dockerenv',
 'datalab',
 'tools',
 'NGC-DL-CONTAINER-LICENSE']

In [ ]:
# list files inside a specific folder (get children)

# new_folder = '/home/e57658/workspace/Excel_Automation_Python/New_Folder'
print (os.listdir(new_folder))

['Inner_folder']

In [ ]:
# get parent of a scpecific folder (go back with 1 level)
print(Path(new_folder).parents[0])

/home/e57658/workspace/Excel_Automation_Python

In [ ]:
# # get grand parent of a scpecific folder (go back with 2 levels)

print(Path(new_folder).parents[1])

/home/e57658/workspace

# Copy File

In [ ]:
# destination folder we want to copy is Raw_Files
dest = 'Raw_Excel_Files'

In [ ]:
# work with shutil package
''' Shutil module offers high-level operation on a file like a copy, create, move
and remote operation on the file '''

# path to the file that we want to copy : UK.xlsx we store it in a variable called "src"
# as the file UK.xlsx is in working directory we can use the relative path of the file
# otherwise we would need to use absolute path ....
# ..'/home/e57658/workspace/Excel_Automation_Python/Basics_Python/DE.xlsx'

src='UK.xlsx' 

# copy the file in the folder we want
shutil.copy(src, # what file we want to copy, more specifically its path
            dest) # path to the folder we want to paste the copied file

'Raw_Excel_Files/UK.xlsx'

In [ ]:
# file that we want to copy : FR.xlsx
src='FR.xlsx'

# copy the file in the folder we want
shutil.copy(src, dest)

'Raw_Excel_Files/FR.xlsx'

In [ ]:
# file that we want to copy : DE.xlsx
src='DE.xlsx'

# copy the file in the folder we want
shutil.copy(src, dest)

'Raw_Excel_Files/DE.xlsx'

In [ ]:
# copy the multiple files in the folder we want

# we want to copy all excel files in Raw_Excel_Files
print(excel_files)

for file in excel_files:
    shutil.copy(file, dest)

['DE.xlsx', 'UK.xlsx', 'FR.xlsx', 'UK_old.xlsx']

# Move File

In [ ]:
# First: write the path to the "Python" folder
folder_1 = cwd + '/' + 'Old_Files'
print(folder_1)

# Second: create the folder at the indicated path
os.makedirs(folder_1)

/home/e57658/workspace/Excel_Automation_Python/Raw_Excel_Files/Old_Files

In [ ]:
# folder_to_move (it would be like cut/paste

file_to_move = 'UK_old.xlsx'

shutil.move(file_to_move, # file/folder to cut
           folder_1) # folder where to move = '/home/e57658/workspace/Excel_Automation_Python/Basics_Python/Raw_Files'

'/home/e57658/workspace/Excel_Automation_Python/Raw_Excel_Files/Old_Files/UK_old.xlsx'

# Delete Files

In [ ]:
cwd

'/home/e57658/workspace/Excel_Automation_Python/Raw_Excel_Files'

In [ ]:
# delete a file DE.xlsx from Raw_Files folder
os.unlink('Old_Files/UK_old.xlsx') # relative path as UK_old in the working directory

In [ ]:
# delete empty folder 'Old_Files' from Raw_Files folder 
# ..go back in the Excel_Automation_Python...

folder_to_remove= 'Old_Files'
os.rmdir(folder_to_remove)

In [ ]:
# delete NOT empty folder

# New_Folder contains another file 'Inner_folder'
print( os.listdir('/home/e57658/workspace/Excel_Automation_Python/New_Folder'))

shutil.rmtree('/home/e57658/workspace/Excel_Automation_Python/New_Folder') 
# here we used the absolute path 
# we can NOT use relative path for folders / files as they are NOT present in cwd

['Inner_folder']

In [ ]:
# now that we check the list in the upper level of files tree
# we see  that New_Folder has disapeared

os.listdir('..')

['.ipynb_checkpoints',
 'Excel_Automation.ipynb',
 'Raw_Excel_Files',
 'Files_Manipulation.ipynb',
 'DE.xlsx',
 'config.yaml',
 'UK.xlsx',
 'FR.xlsx',
 'UK_old.xlsx']

# Work with Excel Files

We want to process some raw files and store them in a new separate file : Precessed_Files

In [ ]:
# the path to the new folder
cwd + '/' + 'Processed_Files'

'/home/e57658/workspace/Excel_Automation_Python/Raw_Excel_Files/Processed_Files'

In [ ]:
# Create a folder 'Processed_Files' in the cwd where we'll store all processed files 

des = cwd + '/' + 'Processed_Files'
os.makedirs(des)

Steps in files processing ....



1.  First read each excel files and put them into pandas dataframe
2.  Consolidate all excel files into a single excel with separate sheet by country
3.  Consolidate all excels into a single excel sheet

## Read excels

In [ ]:
# if the excel file has too many rows, when visualising the data, not all columns are displayed
# to overcome this we use .set_option method

# set visible all columns
pd.set_option('display.max_columns', None)

In [ ]:
# DE.xlsx file

# store the nme of the file in filename variable
filename = 'DE.xlsx'
# read the excel file with .read_excel method
de = pd.read_excel(filename, # the file we want to read
                   index_col=None, # do not add column index
                   header=0) # the first row to be used as headers (column names)

# check dataframe shape
print('Dataframe Shape: ', de.shape)
de.head()

Dataframe Shape:  (673, 14)

,Date,Name,Mannschaft,Rohe Prsenz (min),Pause (Minuten),Nettoprsenz (Min.),Behandlung (min),DMT,Productiviy,Processed tickets,Closed Tickets,FTE (processed),FTE (presence),FTE weighted
0,2022-04-12,Employee_1,TEAM_1,102,0,102,4,00:02:08,0.6,2,1,0.00,0.25,0.00
1,2022-04-13,Employee_1,TEAM_1,299,0,299,168,00:42:00,0.4,4,2,0.50,0.75,0.50
2,2022-04-19,Employee_1,TEAM_1,478,0,478,275,00:16:12,2.0,17,16,0.75,1.00,0.75
3,2022-04-20,Employee_1,TEAM_1,427,0,427,142,00:12:56,1.4,11,10,0.50,1.00,0.50
4,2022-04-21,Employee_1,TEAM_1,482,0,482,129,00:16:12,1.0,8,8,0.50,1.00,0.50

In [ ]:
# add a column 'Country' to diferentiate the data in the consilidated dataframe
de['Country']= 'DE'

# check dataframe shape after adding the new column
print('Dataframe Shape: ', de.shape)

# visualize first rows
de.head()

Dataframe Shape:  (673, 15)

,Date,Name,Mannschaft,Rohe Prsenz (min),Pause (Minuten),Nettoprsenz (Min.),Behandlung (min),DMT,Productiviy,Processed tickets,Closed Tickets,FTE (processed),FTE (presence),FTE weighted,Country
0,2022-04-12,Employee_1,TEAM_1,102,0,102,4,00:02:08,0.6,2,1,0.00,0.25,0.00,DE
1,2022-04-13,Employee_1,TEAM_1,299,0,299,168,00:42:00,0.4,4,2,0.50,0.75,0.50,DE
2,2022-04-19,Employee_1,TEAM_1,478,0,478,275,00:16:12,2.0,17,16,0.75,1.00,0.75,DE
3,2022-04-20,Employee_1,TEAM_1,427,0,427,142,00:12:56,1.4,11,10,0.50,1.00,0.50,DE
4,2022-04-21,Employee_1,TEAM_1,482,0,482,129,00:16:12,1.0,8,8,0.50,1.00,0.50,DE

In [ ]:
print('nb of columns: ', len(de.columns))
print('nb of rows: ', len(de))
de.columns

nb of columns:  15
nb of rows:  673

Index(['Date', 'Name', 'Mannschaft', 'Rohe Prsenz (min)', 'Pause (Minuten)',
       'Nettoprsenz (Min.)', 'Behandlung (min)', 'DMT', 'Productiviy',
       'Processed tickets', 'Closed Tickets', 'FTE (processed)',
       'FTE (presence)', 'FTE weighted', 'Country'],
      dtype='object')

In [ ]:
# FR
filename = 'FR.xlsx'
fr = pd.read_excel(filename, index_col=None, header=0)


# add a column 'Country' to diferentiate the data in the consilidated dataframe
fr['Country']= 'FR'

# check dataframe shape, dimensions after adding the new column
print('Dataframe Shape: ', fr.shape)
print('nb of columns: ', len(fr.columns))
print('nb of rows: ', len(fr))

# print column names 
print('column names: ', fr.columns)

# visualize first rows
fr.head()

Dataframe Shape:  (267, 15)
nb of columns:  15
nb of rows:  267
column names:  Index(['Date', 'Nom/Prnom', 'EQUIPE', 'Prsence brute (min)', 'Pause (min)',
       'Prsente nette (min)', 'Traitement (min)', 'DMT',
       'Productivit horaire', 'Tickets traits', 'Tickets clos',
       'FTE (traitement)', 'FTE (prsence)', 'FTE pondr', 'Country'],
      dtype='object')

,Date,Nom/Prnom,EQUIPE,Prsence brute (min),Pause (min),Prsente nette (min),Traitement (min),DMT,Productivit horaire,Tickets traits,Tickets clos,FTE (traitement),FTE (prsence),FTE pondr,Country
0,2022-04-12,Employee_1,TEAM_1,102,0,102,4,0.001481,0.6,2,1,0.00,0.25,0.00,FR
1,2022-04-19,Employee_1,TEAM_1,478,0,478,275,0.011250,2.0,17,16,0.75,1.00,0.75,FR
2,2022-04-20,Employee_1,TEAM_1,427,0,427,142,0.008981,1.4,11,10,0.50,1.00,0.50,FR
3,2022-04-21,Employee_1,TEAM_1,482,0,482,129,0.011250,1.0,8,8,0.50,1.00,0.50,FR
4,2022-04-22,Employee_1,TEAM_1,476,0,476,117,0.013634,0.8,6,6,0.25,1.00,0.25,FR

In [ ]:
# FR
filename = 'UK.xlsx'
uk = pd.read_excel(filename, index_col=None, header=0)


# add a column 'Country' to diferentiate the data in the consilidated dataframe
uk['Country']= 'UK'

# check dataframe shape, dimensions after adding the new column
print('Dataframe Shape: ', uk.shape)
print('nb of columns: ', len(uk.columns))
print('nb of rows: ', len(uk))

# print column names 
print('column names: ', uk.columns)

# visualize first rows
uk.head()

Dataframe Shape:  (269, 15)
nb of columns:  15
nb of rows:  269
column names:  Index(['Date', 'Name', 'Team', 'Presence', 'Pause (min)', 'Presence net (min)',
       'Processed (min)', 'DMT', 'Productivity hours', 'Processed tickets',
       'Closed tickets', 'FTE (process)', 'FTE (presence)', 'FTE weighted',
       'Country'],
      dtype='object')

,Date,Name,Team,Presence,Pause (min),Presence net (min),Processed (min),DMT,Productivity hours,Processed tickets,Closed tickets,FTE (process),FTE (presence),FTE weighted,Country
0,2022-04-12,Employee_1,TEAM_1,102.0,0.0,102,4,0.001481,0.6,2,1,0.00,0.25,0.00,UK
1,2022-04-19,Employee_1,TEAM_1,478.0,0.0,478,275,0.011250,2.0,17,16,0.75,1.00,0.75,UK
2,2022-04-20,Employee_1,TEAM_1,4.0,0.0,427,142,0.008981,1.4,11,10,0.50,1.00,0.50,UK
3,2022-04-21,Employee_1,TEAM_1,482.0,0.0,482,129,0.011250,1.0,8,8,0.50,1.00,0.50,UK
4,2022-04-22,Employee_1,TEAM_1,476.0,0.0,476,117,0.013634,0.8,6,6,0.25,1.00,0.25,UK

## Single excel file with separate sheet by country

Create an excel file where country would be on a separate sheet

In [ ]:
# create excel writer in the Processed_Files folder with the name 'Consolidation_by_sheet'
writer = pd.ExcelWriter('Processed_Files/Consolidated_by_sheet.xlsx')
# write dataframe to excel sheet named 'marks'
uk.to_excel(writer, 'UK')
fr.to_excel(writer, 'FR')
de.to_excel(writer, 'DE')

# - > !!!! save and close the excel file (important)
writer.save()
writer.close()

/home/e57658/.local/lib/python3.9/site-packages/xlsxwriter/workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

## Consolidate all excels into a single excel sheet

In [ ]:
frames = [de, fr, uk]

df_concat = pd.concat(frames)

print(df_concat.shape)

# display first rows
df_concat.head()

(1209, 34)

,Date,Name,Mannschaft,Rohe Prsenz (min),Pause (Minuten),Nettoprsenz (Min.),Behandlung (min),DMT,Productiviy,Processed tickets,Closed Tickets,FTE (processed),FTE (presence),FTE weighted,Country,Nom/Prnom,EQUIPE,Prsence brute (min),Pause (min),Prsente nette (min),Traitement (min),Productivit horaire,Tickets traits,Tickets clos,FTE (traitement),FTE (prsence),FTE pondr,Team,Presence,Presence net (min),Processed (min),Productivity hours,Closed tickets,FTE (process)
0,2022-04-12,Employee_1,TEAM_1,102.0,0.0,102.0,4.0,00:02:08,0.6,2.0,1.0,0.00,0.25,0.00,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-04-13,Employee_1,TEAM_1,299.0,0.0,299.0,168.0,00:42:00,0.4,4.0,2.0,0.50,0.75,0.50,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-04-19,Employee_1,TEAM_1,478.0,0.0,478.0,275.0,00:16:12,2.0,17.0,16.0,0.75,1.00,0.75,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-04-20,Employee_1,TEAM_1,427.0,0.0,427.0,142.0,00:12:56,1.4,11.0,10.0,0.50,1.00,0.50,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-04-21,Employee_1,TEAM_1,482.0,0.0,482.0,129.0,00:16:12,1.0,8.0,8.0,0.50,1.00,0.50,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# diplay last rows
df_concat.tail()

,Date,Name,Mannschaft,Rohe Prsenz (min),Pause (Minuten),Nettoprsenz (Min.),Behandlung (min),DMT,Productiviy,Processed tickets,Closed Tickets,FTE (processed),FTE (presence),FTE weighted,Country,Nom/Prnom,EQUIPE,Prsence brute (min),Pause (min),Prsente nette (min),Traitement (min),Productivit horaire,Tickets traits,Tickets clos,FTE (traitement),FTE (prsence),FTE pondr,Team,Presence,Presence net (min),Processed (min),Productivity hours,Closed tickets,FTE (process)
264,2022-04-14,Employee_24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.5,0.00,UK,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEAM_4,123.00,123.0,0.0,0.0,0.0,0.00
265,2022-04-24,Employee_24,NaN,NaN,NaN,NaN,NaN,0.008461,NaN,3.0,NaN,NaN,0.5,0.00,UK,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEAM_4,184.00,184.0,36.0,1.3,3.0,0.00
266,2022-04-29,Employee_24,NaN,NaN,NaN,NaN,NaN,0.003194,NaN,14.0,NaN,NaN,1.0,0.25,UK,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEAM_4,441.00,441.0,64.0,1.5,11.0,0.25
267,2022-04-24,Employee_25,NaN,NaN,NaN,NaN,NaN,0.008461,NaN,3.0,NaN,NaN,0.5,0.00,UK,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEAM_5,1.60,184.0,36.0,1.3,3.0,0.00
268,2022-04-29,Employee_26,NaN,NaN,NaN,NaN,NaN,0.003194,NaN,14.0,NaN,NaN,1.0,0.25,UK,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TEAM_5,3.41,441.0,64.0,1.5,11.0,0.25

In [ ]:
# to consolidate multiple dataframes, there are 3 rules:
# they have to have the same nb of columns (here all 3 df have 15 columns)
# to concatenate by column names, all df have to have the same column names
# the dfs must have same column order

print("Column nb of DE: ", len(de.columns), de.columns)
print("Column nb of FR: ", len(fr.columns), fr.columns)
print("Column nb of UK: ", len(uk.columns), uk.columns)

Column nb of DE:  15 Index(['Date', 'Name', 'Mannschaft', 'Rohe Prsenz (min)', 'Pause (Minuten)',
       'Nettoprsenz (Min.)', 'Behandlung (min)', 'DMT', 'Productiviy',
       'Processed tickets', 'Closed Tickets', 'FTE (processed)',
       'FTE (presence)', 'FTE weighted', 'Country'],
      dtype='object')
Column nb of FR:  15 Index(['Date', 'Nom/Prnom', 'EQUIPE', 'Prsence brute (min)', 'Pause (min)',
       'Prsente nette (min)', 'Traitement (min)', 'DMT',
       'Productivit horaire', 'Tickets traits', 'Tickets clos',
       'FTE (traitement)', 'FTE (prsence)', 'FTE pondr', 'Country'],
      dtype='object')
Column nb of UK:  15 Index(['Date', 'Name', 'Team', 'Presence', 'Pause (min)', 'Presence net (min)',
       'Processed (min)', 'DMT', 'Productivity hours', 'Processed tickets',
       'Closed tickets', 'FTE (process)', 'FTE (presence)', 'FTE weighted',
       'Country'],
      dtype='object')

In [ ]:
# rename the dfs columns o they would be identical
# we will use english column names for all dfs

columns = uk.columns

fr.columns = columns
de.columns = columns

print("Column nb of DE: ", len(de.columns), de.columns)
print("Column nb of FR: ", len(fr.columns), fr.columns)
print("Column nb of UK: ", len(uk.columns), uk.columns)

Column nb of DE:  15 Index(['Date', 'Name', 'Team', 'Presence', 'Pause (min)', 'Presence net (min)',
       'Processed (min)', 'DMT', 'Productivity hours', 'Processed tickets',
       'Closed tickets', 'FTE (process)', 'FTE (presence)', 'FTE weighted',
       'Country'],
      dtype='object')
Column nb of FR:  15 Index(['Date', 'Name', 'Team', 'Presence', 'Pause (min)', 'Presence net (min)',
       'Processed (min)', 'DMT', 'Productivity hours', 'Processed tickets',
       'Closed tickets', 'FTE (process)', 'FTE (presence)', 'FTE weighted',
       'Country'],
      dtype='object')
Column nb of UK:  15 Index(['Date', 'Name', 'Team', 'Presence', 'Pause (min)', 'Presence net (min)',
       'Processed (min)', 'DMT', 'Productivity hours', 'Processed tickets',
       'Closed tickets', 'FTE (process)', 'FTE (presence)', 'FTE weighted',
       'Country'],
      dtype='object')

In [ ]:
# this time the concatenation of dfs is correct

df_concat = pd.concat(frames)

print(df_concat.shape)
df_concat.head()

(1209, 15)

,Date,Name,Team,Presence,Pause (min),Presence net (min),Processed (min),DMT,Productivity hours,Processed tickets,Closed tickets,FTE (process),FTE (presence),FTE weighted,Country
0,2022-04-12,Employee_1,TEAM_1,102.0,0.0,102,4,00:02:08,0.6,2,1,0.00,0.25,0.00,DE
1,2022-04-13,Employee_1,TEAM_1,299.0,0.0,299,168,00:42:00,0.4,4,2,0.50,0.75,0.50,DE
2,2022-04-19,Employee_1,TEAM_1,478.0,0.0,478,275,00:16:12,2.0,17,16,0.75,1.00,0.75,DE
3,2022-04-20,Employee_1,TEAM_1,427.0,0.0,427,142,00:12:56,1.4,11,10,0.50,1.00,0.50,DE
4,2022-04-21,Employee_1,TEAM_1,482.0,0.0,482,129,00:16:12,1.0,8,8,0.50,1.00,0.50,DE

In [ ]:
# last rows
df_concat.tail()

,Date,Name,Team,Presence,Pause (min),Presence net (min),Processed (min),DMT,Productivity hours,Processed tickets,Closed tickets,FTE (process),FTE (presence),FTE weighted,Country
264,2022-04-14,Employee_24,TEAM_4,123.00,0.0,123,0,NaN,0.0,0,0,0.00,0.5,0.00,UK
265,2022-04-24,Employee_24,TEAM_4,184.00,0.0,184,36,0.008461,1.3,3,3,0.00,0.5,0.00,UK
266,2022-04-29,Employee_24,TEAM_4,441.00,0.0,441,64,0.003194,1.5,14,11,0.25,1.0,0.25,UK
267,2022-04-24,Employee_25,TEAM_5,1.60,0.0,184,36,0.008461,1.3,3,3,0.00,0.5,0.00,UK
268,2022-04-29,Employee_26,TEAM_5,3.41,0.0,441,64,0.003194,1.5,14,11,0.25,1.0,0.25,UK

In [ ]:
# create excel writer in the Processed_Files with the name 'Consolidation'
writer = pd.ExcelWriter('Processed_Files/Consolidation.xlsx')

# write dataframe to excel sheet named 'marks'
df_concat.to_excel(writer, 'Consolidation')

# save the excel file
writer.save()
writer.close()

/home/e57658/.local/lib/python3.9/site-packages/xlsxwriter/workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

# Reinitiate original folder

In [ ]:
cwd

'/home/e57658/workspace/Excel_Automation_Python/Raw_Excel_Files'

In [ ]:
# delete Raw_Excel_Files to reinitiate the whole folder

shutil.rmtree('/home/e57658/workspace/Excel_Automation_Python/Raw_Excel_Files')